body {
  background-color: #fff9f7;
  margin: auto;
  padding: 35px;
  text-align: center;
}

#header {
  background-color: #d0d0d0;
  border: 5px solid #b3b3b3;
  font-family: Brush Script MT;
  font-size: 30px;
}
