body {
  background-color: #fff9f7;
  margin: auto;
  padding: 20px;
  text-align: center;
}

#header {
  background-color: #d0d0d0;
  border: 5px solid #b3b3b3;
}

.icon {
  margin-left: 0%;
  float: left;
  width: 76px;
  height: 76px;
}

.title {
  font-family: Brush Script MT;
  font-size: 30px;
}
#full_table {
  padding: 30px;
  font-size: 70px;
}
