body {
  margin: 2;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  overflow: hidden;
}

#header {
  border: 2px solid white;
}

.icon {
  margin-left: 0%;
  float: left;
  width: 140px;
  height: 140px;
}

.title {
  font-family: Brush Script MT;
  font-size: 30px;
}

.app {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  position: relative;
}

h1 {
  color: rgb(0, 0, 0);
}

.game .digits {
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  padding: 10px;
  border: 10px solid rgb(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
/* grid-template-columns: repeat(n, 1fr); n = 3 , n= number in the box */
/* /* width: 400px; ,,set to 300px when @ 9by9  */
/* height: 400px; ,,set to 300px when @ 9by9 */

.game .digits span {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background-color: silver;
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
  line-height: 2.5em;
  color: rgb(0, 0, 0);
  position: relative;
}
.game .digits input {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background-color: silver;
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
  line-height: 2.5em;
  color: rgb(0, 0, 0);
  position: relative;
}
#submit {
  background-color: aqua;
  display: flex;
  align-items: right;
  justify-content: right;
}
#clear {
  background-color: #ff4819;
}
#demo {
  background-color: #2aff00;
}
